.index{background-color:#01af03;font-family:arial;}
.index2{background-color:#99cf12;font-family:arial;}
.index3{background-color:#02cb92;font-family:arial;}
.index4{background-color:#99ff52;font-family:arial;}
a.indexv2:hover{background-color:#ff0000;color:#0077ff}
p{margin: 5px 35px 20px 15px;}
body{margin: 10px 20px 15px 25px;}
h1{margin: 15px 25px 10px 5px;}
p.photo{text-align:center;}
.tabl{margin:auto}